{% extends 'base.html' %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block title %} About{% endblock title %}

{% block body %}

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">I Coders !!</h1>
      <p><b>I Coder Ltd.</b> is a Blogging company based in Phagwara, India. Founded by<b> Rohin Sandhu</b>  in 2022, the company initially focuses on Technology and Coding/Programming. 
Our Blogs helps in creatin Technical Awareness among Users i.e. Audience.
        <br>  <br>I Coders is guided by <b>Four Principles</b>: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking. We strives to be Earth’s most customer-centric company, Earth’s best employer, and Earth’s safest place to work.
</p>
      <p><a class="btn btn-primary btn-lg" href="/blog/" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Who Are We?</h2>
        <p>I Coders is a Blogging Site that Creates and Shares Technical Blogs.</p>
        <p><a class="btn btn-secondary" href="/blog/" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>What We Do?</h2>
        <p>I Codes Creates Technical Awareness among Audience that help them in their Daily lives.</p>
        <p><a class="btn btn-secondary" href="/blog/" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>What's next?</h2>
        <p>We are planning to start creating Blogs on Financial Sector and Food Industry.</p>
        <p><a class="btn btn-secondary" href="/blog/" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}