{% extends 'base.html' %}

{% block title %} Home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}

<div class="container">
    <div class="jumbotron my-3">
      <h1 class="display-4">Welcome to iCoder!</h1>
      <p class="lead">We focus on the future of Technology and give your Opinions about what you think is going to 
        happen in the industry. Coding, sometimes called computer programming, is how we communicate with computers. Code tells a computer what actions to take, and writing code is like creating a set of instructions.</p>
      <hr class="my-4">
      <p>Coding, sometimes called computer programming, is how we communicate with computers. Code tells a computer what actions to take, and writing code is like creating a set of instructions. By learning to write code, you can tell computers what to do or how to behave in a much faster way.</p>
      <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
      </div>
    </div>

 {% endblock %}